/* 解決output區域靠左的狀況*/
div.output_subarea{
    /* Modern browsers */
    flex: 1;
    max-width: 100%;
}


/* RB style*/
.blog-title{
    background: url(../images/hero-bg-3000.jpg);
    background-size: cover; /*圖會自動填滿這個區域*/
    background-position: center; /*垂直&左右置中*/
    height: 90vh;
    width: auto;
  }
  .blog-title .blog-background h1{
    padding-top: 25rem;
    font-size: 6rem;
    text-align: center;
    color: white;
    word-break:keep-all; /*中文每一個都視為獨立的字 所以當寬度不夠時 
    瀏覽器會自動換行 故用這個確保其皆為橫列*/
  }
  .blog-title .blog-background h3{
    padding-top: 10px;
    font-size: 3rem;
    text-align: center;
    color: white;
    word-break:keep-all;
  }
   /*將整體的字從預設13px調大, 並拉高行距*/
  body{ 
    background: white; /*沿用styleshout的css的話 其bg會是黑色的*/
    font-size: 2rem;
    line-height: 1.875;
  }
 /*將整個blog內容 左右padding 30px 使兩側留白*/
  .blog-single{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container img{
    display: block;
    margin: auto;
    width: 100%;
    max-width: 600px;
    }


 #notebook-container{

    -webkit-box-shadow: none;
    box-shadow: none; /*覆蓋原先的陰影*/
    
 }

div#notebook-container{
    padding: 0 0 0 0; /*覆蓋原先的padding*/


}

  @media screen and (max-width: 600px) {

    .blog-single{
        padding-left: 15px;
        padding-right: 15px;

    }

    .container img{
        max-height: 500px;  
        width: auto;

    }
    body{ 
        font-size: 1.6rem;
        line-height: 1.875;
      }
  }

  
  /* 若螢幕的寬度<480px 就讓blog內容左右padding, 讓內容在中間
  並讓img設定為寬100% 以免跑版
  */
  /*
  @media screen and (max-width: 600px) {
    .cell{
    flex:50%
  
    }
  }
  */